navbar

spinner(ng-if="$ctrl.isLoading")
.container.user-form(ng-if="!$ctrl.isLoading")
  h2
    span(ng-if="$ctrl.userId") Edit User {{ ::user.name }}
    span(ng-if="!$ctrl.userId") Create User
    hr

  form(name="userForm")
    .form-group.row
      label.col-md-3.col-form-label(for="name") Name*
      .col-md-9
        input.form-control(
          id="name"
          name="name"
          type="text"
          placeholder="Name"
          required="true"
          ng-model="$ctrl.user.name"
          ng-disabled="$ctrl.isSaving"
          ng-class="{ 'is-invalid': userForm.name.$invalid || userForm.name.$error.required }"
        )
        .invalid-feedback Name is required

    .form-group.row
      label.col-md-3.col-form-label(for="email") Email*
      .col-md-9
        input.form-control(
          id="email"
          name="email"
          type="email"
          placeholder="Email"
          required="true"
          ng-model="$ctrl.user.email"
          ng-disabled="$ctrl.isSaving"
          ng-class="{ 'is-invalid': userForm.email.$invalid || userForm.email.$error.required }"
        )
        .invalid-feedback Email is required

    .form-group.form-check.row
      .offset-md-3.col-md-9
        role-multiselector(initial-roles="$ctrl.user.roles" on-change="$ctrl.onChangeRoles(roles)")

  .buttons.text-right
    a.btn.btn-light(href="#/users") Cancel
    button.btn.btn-primary(ng-click="$ctrl.saveUser()" ng-disabled="userForm.$invalid || $ctrl.user.roles.length === 0 || $ctrl.isSaving") Save
